body {
  font-family: sans-serif;
  margin-top: 30px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 0;
}
.demo {
  max-width: 600px;
  background: #eee;
  margin: 40px auto;
  font-family: sans-serif;
  position: relative;
  min-height: 300px;
  padding: 20px;
}

/* Flower style menu */
.menu-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu-toggle {
  display: block;
  width: 50px;
  height: 50px;
  background: #00AAA0;
  border-radius: 50%;
  position: relative;
  z-index: 100;
  text-align: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  top: 0;
}

.menu-item {
  display: inline-block;
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 25px;
  transition: all 0.4s ease-out;
  background: url('./images/add.svg') no-repeat center #FF7A5A;
  background-size: 0px;
}

.menu-item--edit {
  background: url('./images/edit.svg') no-repeat center #FFB85F;
}

.menu-item--remove {
  background: url('./images/remove.svg') no-repeat center #462066
}

.open .menu-item {
  width: 50px;
  height: 50px;
  background-size: 50%;
}

.open .menu-item--add {
  left: -60px;
  top: -20px;
}
.open .menu-item--edit {
  left: 0;
  top: -60px;
}

.open .menu-item--remove {
  left: 60px;
  top: -20px;
}

.expand {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;
  background: url('./images/expand_more.svg') no-repeat center;
  background-size: cover;
}

.open .expand {
  transform: translate(-50%, -50%) rotate(-180deg);
}

/* Vertical menu */

.menu-wrapper--vertical {
  top: 100px;
}

.menu-toggle--vertical {
  width: 40px;
  height: 40px;
}

.open .menu-item--vertical {
  width: 40px;
  height: 40px;
  background-size: 50%;
}

.expand--vertical {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.open .expand--vertical {
  transform: translate(-50%, -50%) rotate(0);
}

.open .menu-item--add.menu-item--vertical {
  left: 0;
  top: 50px;
}
.open .menu-item--edit.menu-item--vertical {
  left: 0;
  top: 100px;
}

.open .menu-item--remove.menu-item--vertical {
  left: 0;
  top: 150px;
}
